aiohttp==3.7.4
aiosignal==1.2.0
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
charset-normalizer==2.1.0
discord.py==1.7.3
frozenlist==1.3.1
idna==3.0
idna-ssl==1.1.0
lazuli==2.2.2
multidict==4.7.6
mysql-connector-python==8.0.30
protobuf==3.20.1
six==1.15.0
typing-extensions==3.7.4.3
yarl==1.5.1
